<main class="flex flex-col items-left">
    <div class="flex justify-between items-center mx-25 my-10">
        <h1>
            <span class="text-4xl font-bold">Behold</span>
            <br>
            <span class="text-2xl">our adoptable <span class="text-primary font-bold">puppers</span> and <span class="text-primary font-bold">doggos</span></span>
        </h1>

        @if (role() === 'editor' || role() === 'admin') {
            <p-button label="Add new dog" (click)="onCreateDog()"></p-button>
        }
        
    </div>

    <div class="flex flex-wrap justify-center">
        @if (isLoading()) {
        <p-progress-spinner></p-progress-spinner>
    } @else {
            @for (dog of dogs(); track dog.id) {
            <app-dog-card [dog]="dog"></app-dog-card>
        }
    }
    </div>
</main>
    


