
<fieldset class="flex items-center gap-2">
    <p-floatlabel variant="on">
            <p-password 
            id="password" 
            [feedback]="hasFeedback()" 
            [toggleMask]="true"
            [ngModel]="password" 
            (ngModelChange)="handleInput($event)"
            (onBlur)="onTouched()"
            class="w-60">
                <ng-template #header>
                    <div class="font-semibold text-xm mb-4">Pick a password</div>
                </ng-template>
                <ng-template #footer>
                    <p-divider />
                    <ul class="pl-2 ml-2 my-0 leading-normal">
                        @for (rule of rules; track rule.key) {
                            <li class="flex gap-2 items-center">
                                <i [ngClass]="rule.check(password) ? 'pi pi-check' : 'pi pi-times'" [style]="rule.check(password) ? 'color: green' : 'color: red'"></i>
                                <span>{{ rule.label }}</span>
                            </li>
                        }
                    </ul>
                </ng-template>
            </p-password>
        <label for="password">{{ label() }}</label>
    </p-floatlabel>
</fieldset>

