<p-card header="Log in" class="flex justify-center gap-3 m-20">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center gap-4">
        <div class="flex flex-col items-end">
            <fieldset class="flex items-center gap-2">
                <i class="pi pi-user"></i>
                <p-floatlabel variant="on" >
                    <input 
                        pInputText 
                        formControlName="email" 
                        id="email" 
                        autocomplete="off" 
                        class="w-60"/>
                    <label for="email">Email</label> 
                </p-floatlabel>
                
            </fieldset>
            @if (hasBeenSubmitted() && loginForm.invalid) {
                <p-message severity="error" variant="simple" size="small">{{ getErrorText(email) }}</p-message>
            }
        </div>      

        <div class="flex flex-col items-end">
            <fieldset class="flex items-center gap-2">
                <i class="pi pi-lock"></i>
                <p-floatlabel variant="on">
                        <p-password 
                        formControlName="password" 
                        id="password" 
                        [feedback]="false" 
                        [toggleMask]="true" 
                        autocomplete="off" 
                        class="w-60"/>
                    <label for="password">Password</label>
                </p-floatlabel>
            </fieldset>
            @if (hasBeenSubmitted() && loginForm.invalid) {
                <p-message severity="error" variant="simple" size="small" class="text-right">{{ getErrorText(password) }}</p-message>
            }
        </div>

        <p-button type="submit">Submit</p-button>
        @if (errorMessage()) {
            <p-message severity="error">{{ errorMessage() }}</p-message>
        }
        @if (successMessage()) {
            <p-message severity="success">{{ successMessage() }}</p-message>
        }
    </form>
    
</p-card>

