<p-card header="Update my information" class="flex justify-center gap-3 m-8">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center gap-4 w-[530px]">
        <div class="flex flex-col justify-end gap-2 mt-5">
            <div class="flex flex-col items-start">
                <fieldset class="flex flex-col gap-2">
                    <label for="firstName">First name: </label>
                    <input 
                        pInputText 
                        formControlName="firstName" 
                        id="firstName"
                        placeholder="{{ user()?.firstName }}" 
                        autocomplete="off" 
                        class="w-[500px]"/>
                </fieldset>
                @if (hasBeenSubmitted() && updateForm.invalid) {
                    <p-message severity="error" variant="simple" size="small">{{ getErrorText(firstName) }}</p-message>
                }
            </div>
        
            <div class="flex flex-col items-start">
                <fieldset class="flex flex-col gap-2">
                    <label for="lastName">Last name: </label>
                    <input 
                        pInputText 
                        formControlName="lastName" 
                        id="lastName"
                        placeholder="{{ user()?.lastName }}" 
                        autocomplete="off" 
                        class="w-[500px]"/>
                </fieldset>
                @if (hasBeenSubmitted() && updateForm.invalid) {
                    <p-message severity="error" variant="simple" size="small">{{ getErrorText(lastName) }}</p-message>
                }
            </div>
        
            <div class="flex flex-col items-start">
                <fieldset class="flex flex-col gap-2">
                    <label for="email">Email: </label>
                    <input 
                        pInputText 
                        formControlName="email" 
                        id="email"
                        placeholder="{{ user()?.email }}" 
                        autocomplete="off" 
                        class="w-[500px]"/>
                </fieldset>
                @if (hasBeenSubmitted() && updateForm.invalid) {
                    <p-message severity="error" variant="simple" size="small">{{ getErrorText(email) }}</p-message>
                }
            </div>

            
            <div class="flex gap-5">
                <div class="flex flex-col items-start">
                    <fieldset class="flex flex-col gap-2">
                        <label for="password">Password: </label>
                        <app-password-input formControlName="password" id="password" hasFeedback></app-password-input>
                    </fieldset>
                    
                    @if (hasBeenSubmitted() && updateForm.invalid) {
                        <p-message severity="error" variant="simple" size="small">{{ getErrorText(password) }}</p-message>
                    }
                </div>

                <div class="flex flex-col items-start">
                    <fieldset class="flex flex-col gap-2">
                        <label for="confirmPassword">Confirm password: </label>
                        <app-password-input formControlName="confirmPassword" id="confirmPassword" label="Confirm password"></app-password-input>
                    </fieldset>
                    
                    @if (hasBeenSubmitted() && updateForm.invalid) {
                        <p-message severity="error" variant="simple" size="small">{{ getErrorText(updateForm) }}</p-message>
                    }
                </div>
            </div>
        </div>
        <p-button type="submit">Submit</p-button>
        @if (errorMessage()) {
            <p-message severity="error">{{ errorMessage() }}</p-message>
        }
        @if (successMessage()) {
            <p-message severity="success">{{ successMessage() }}</p-message>
        }
    </form>
</p-card>