<header class="sticky top-0 z-50 flex items-center gap-2 text-black bg-white py-5 mt-3 font-[Rubik]">

    <a routerLink="/home">
        <h1 class="text-primary font-semibold text-2xl pt-1 mx-10">Hello Doggo</h1>
    </a>

    <nav class="w-4/5 flex items-center justify-around gap-12">

        <div class="flex gap-6 flex-1">
            @for (headerLink of headerLinks; track $index) {
            <app-header-link [url]="headerLink.url">{{ headerLink.text }}</app-header-link>
            }
        </div>

        @if (!isAuthenticated()) {
        <div class="flex gap-2">
            <p-button routerLink="/auth/signup">Sign up</p-button>
            <p-button severity="secondary" routerLink="/auth/login">Log in</p-button>
        </div>
        }
        @else {
        <div class="flex items-center justify-around gap-12">
            @if (role() === 'admin') {
            <app-header-link url="/user/all">Manage users</app-header-link>
            }
            <app-header-link url="/user/me">My profile</app-header-link>
            <p-button severity="secondary" (click)="onLogout()">Log out</p-button>
        </div>
        }
    </nav>
</header>