<p-card header="Update my information" class="flex justify-center">
    <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()"
        class="flex flex-col justify-center items-center gap-4 w-full max-w-[530px]">
        <div class="flex flex-col gap-4 mt-5 w-full items-center">
            <div class="flex flex-col items-start w-full max-w-[500px]">
                <fieldset class="flex flex-col gap-2 w-full">
                    <label for="firstName">First name: </label>
                    <input pInputText formControlName="firstName" id="firstName" class="w-full" />
                </fieldset>
                @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                <p-message severity="error" variant="simple" size="small" class="w-full">{{
                    getErrorText(updateProfileForm.controls.firstName) }}</p-message>
                }
            </div>

            <div class="flex flex-col items-start w-full max-w-[500px]">
                <fieldset class="flex flex-col gap-2 w-full">
                    <label for="lastName">Last name: </label>
                    <input pInputText formControlName="lastName" id="lastName" class="w-full" />
                </fieldset>
                @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                <p-message severity="error" variant="simple" size="small" class="w-full">{{
                    getErrorText(updateProfileForm.controls.lastName) }}</p-message>
                }
            </div>

            <div class="flex flex-col items-start w-full max-w-[500px]">
                <fieldset class="flex flex-col gap-2 w-full">
                    <label for="email">Email: </label>
                    <input pInputText formControlName="email" id="email" class="w-full" />
                </fieldset>
                @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                <p-message severity="error" variant="simple" size="small" class="w-full">{{
                    getErrorText(updateProfileForm.controls.email) }}</p-message>
                }
            </div>

            <div class="flex flex-col md:flex-row gap-4 md:gap-5 w-full max-w-[500px] items-start">
                <div class="flex flex-col items-start w-full">
                    <fieldset class="flex flex-col gap-2 w-full">
                        <label for="password">Password: </label>
                        <app-password-input formControlName="password" id="password" hasFeedback
                            class="w-full"></app-password-input>
                    </fieldset>

                    @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                    <p-message severity="error" variant="simple" size="small" class="w-full">{{
                        getErrorText(updateProfileForm.controls.password) }}</p-message>
                    }
                </div>

                <div class="flex flex-col items-start w-full">
                    <fieldset class="flex flex-col gap-2 w-full">
                        <label for="confirmPassword">Confirm password: </label>
                        <app-password-input formControlName="confirmPassword" id="confirmPassword"
                            label="Confirm password" class="w-full"></app-password-input>
                    </fieldset>

                    @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                    <p-message severity="error" variant="simple" size="small" class="w-full">{{
                        getErrorText(updateProfileForm)
                        }}</p-message>
                    }
                </div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row w-full max-w-[500px] mt-5 gap-4 items-center md:justify-between">
            <p-button type="submit" severity="success" [loading]="isLoading()" class="w-full md:w-auto">Save
                changes</p-button>
            <p-button type="button" severity="danger" (click)="showDialog()" class="w-full md:w-auto">Delete my
                account</p-button>
        </div>

        @if (errorMessage()) {
        <p-message severity="error" class="w-full max-w-[500px]">{{ errorMessage() }}</p-message>
        }
        @if (successMessage()) {
        <p-message severity="success" class="w-full max-w-[500px]">{{ successMessage() }}</p-message>
        }
    </form>
</p-card>