<p-card header="Update my information" class="flex justify-center gap-3 m-6">
    <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center gap-4 w-[530px]">
        <div class="flex flex-col justify-end gap-2 mt-5">
            <div class="flex flex-col items-start">
                <fieldset class="flex flex-col gap-2">
                    <label for="firstName">First name: </label>
                    <input 
                        pInputText 
                        formControlName="firstName" 
                        id="firstName"
                        class="w-[500px]"/>
                </fieldset>
                @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                    <p-message severity="error" variant="simple" size="small">{{ getErrorText(updateProfileForm.controls.firstName) }}</p-message>
                }
            </div>
        
            <div class="flex flex-col items-start">
                <fieldset class="flex flex-col gap-2">
                    <label for="lastName">Last name: </label>
                    <input 
                        pInputText 
                        formControlName="lastName" 
                        id="lastName" 
                        class="w-[500px]"/>
                </fieldset>
                @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                    <p-message severity="error" variant="simple" size="small">{{ getErrorText(updateProfileForm.controls.lastName) }}</p-message>
                }
            </div>
        
            <div class="flex flex-col items-start">
                <fieldset class="flex flex-col gap-2">
                    <label for="email">Email: </label>
                    <input 
                        pInputText 
                        formControlName="email" 
                        id="email"
                        class="w-[500px]"/>
                </fieldset>
                @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                    <p-message severity="error" variant="simple" size="small">{{ getErrorText(updateProfileForm.controls.email) }}</p-message>
                }
            </div>
            
            <div class="flex gap-5">
                <div class="flex flex-col items-start">
                    <fieldset class="flex flex-col gap-2">
                        <label for="password">Password: </label>
                        <app-password-input formControlName="password" id="password" hasFeedback></app-password-input>
                    </fieldset>
                    
                    @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                        <p-message severity="error" variant="simple" size="small">{{ getErrorText(updateProfileForm.controls.password) }}</p-message>
                    }
                </div>

                <div class="flex flex-col items-start">
                    <fieldset class="flex flex-col gap-2">
                        <label for="confirmPassword">Confirm password: </label>
                        <app-password-input formControlName="confirmPassword" id="confirmPassword" label="Confirm password"></app-password-input>
                    </fieldset>
                    
                    @if (hasBeenSubmitted() && updateProfileForm.invalid) {
                        <p-message severity="error" variant="simple" size="small">{{ getErrorText(updateProfileForm) }}</p-message>
                    }
                </div>
            </div>
        </div>
        <div class="flex w-[500px] mt-5 justify-between">
            <div>
                <p-button type="submit" severity="success" [loading]="isLoading()">Save changes</p-button>
            </div>
            <div>
                <p-button type="button" severity="danger" (click)="showDialog()">Delete my account</p-button>
            </div>
        </div>
        
        @if (errorMessage()) {
            <p-message severity="error">{{ errorMessage() }}</p-message>
        }
        @if (successMessage()) {
            <p-message severity="success">{{ successMessage() }}</p-message>
        }
    </form>
</p-card>