
<div class="bg-[url('/pattern-orange.jpg')] bg-center bg-repeat w-full flex justify-center">
    <main class="flex flex-col w-300 bg-white p-5 items-center overflow-hidden">
        
        <h1 #test class="test text-5xl font-[Rubik] mt-20 mb-5 duration-3000 opacity-0">Adopting rescues has never been so easy</h1>
      
        <div class="flex items-center">
            <img src="istockphoto-2189600024-612x612.jpg" alt="dog image">
            <div class="flex flex-col w-1/2 gap-20 text-xl items-center font-[Rubik]">
                <div class="flex flex-col text-justify gap-10">
                    <p><span class="text-amber-500 font-semibold ">Hello Doggo</span> is a unique platform that allows rescue centers and adopters to easily <span class="font-semibold">get in touch</span>.</p> 
                    <p><span class="text-amber-500 font-semibold">Volunteer?</span>
                    Add and <span class="font-semibold">manage your dogs</span> and review adoption demands.
                    </p>
                    <p><span class="text-amber-500 font-semibold">Adopter?</span> 
                    Create an account, browse available dogs and you're one click away from <span class="font-semibold">your new best friend</span>.
                    </p>
                </div>
                
                <p-button type="button" severity="primary" size="large" [rounded]="true" (click)="goToDogs()">Let's see the dogs!</p-button>
            </div>
        </div>
        
        
        <h1 #test class="text-5xl font-[Rubik] my-20 duration-3000 opacity-0">Want to be part of the crew?</h1>
        
        <div class="flex items-center">
            <div class="flex flex-col w-1/2 gap-20 m-10 text-xl justify-center items-center font-[Rubik]">
                <div class="flex flex-col text-justify gap-10">
                    <p><span class="text-amber-500 font-semibold">Volunteers</span> are essential to welcome and take care of the dogs.</p> 
                        <p>If you're interested in joining us, you can easily <span class="font-semibold">submit an application</span>.
                    </p>
                </div>
                
                <p-button type="button" severity="primary" size="large" [rounded]="true" (click)="goToVolunteer()">Join the crew</p-button>
            </div>
            <img src="volunteer-1.jpg" alt="volunteer image" class="w-1/2 rounded-2xl">
        </div>

        <h1 #test class="test text-5xl font-[Rubik] my-20 duration-3000 opacity-0">Our mission</h1>
      
        <div class="flex items-center">
            <img src="good-advice-rescue-dog-1024x683.jpg" alt="rescue image" class="w-1/2 rounded-2xl">
            <div class="flex flex-col w-1/2 gap-20 m-10 text-xl items-center font-[Rubik]">
                <div class="flex flex-col text-justify gap-10">
                    <p><span class="text-amber-500 font-semibold ">Hello Doggo</span> was created by a single junior developer named <span class="font-semibold">Lisa Auger</span>.</p> 
                    <p>The goal? Allow rescue centers to give <span class="font-semibold">more visibility</span> to their dogs and to offer a <span class="font-semibold">better user experience</span> to future adopters.
                    </p>
                </div>
                
                <p-button type="button" severity="primary" size="large" [rounded]="true" (click)="goToAbout()">See more about us</p-button>
            </div>
        </div>

        <h1 #test class="text-5xl font-[Rubik] my-20 duration-3000 opacity-0">Contact us</h1>
        
        <div class="flex items-center">
            <div class="flex flex-col w-1/2 gap-20 m-10 text-xl justify-center items-center font-[Rubik]">
                <div class="flex flex-col text-justify gap-10">
                    <p><span class="text-amber-500 font-semibold">Do you have a question?</span> 
                        Are you interested in working with us? Do you want to report an issue?</p> 
                    <p>
                        Please contact us and <span class="font-semibold">we'll get back to you</span> as soon as possible.
                    </p>
                </div>
                
                <p-button type="button" severity="primary" size="large" [rounded]="true" (click)="goToContact()">Get in touch</p-button>
            </div>
            <img src="istockphoto-148361574-612x612.jpg" alt="contact image" class="w-1/2 rounded-2xl">
        </div>
    </main>
</div>


