<p-card header="Sign up" class="flex justify-center">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"
        class="flex flex-col justify-center items-center gap-4 w-full max-w-[530px]">
        <div class="flex flex-col items-center md:items-end mt-5 w-full">
            <fieldset class="w-full max-w-[500px]">
                <p-floatlabel variant="on">
                    <input pInputText formControlName="firstName" id="firstName" autocomplete="off" class="w-full" />
                    <label for="firstName">First name</label>
                </p-floatlabel>
            </fieldset>
            @if (hasBeenSubmitted() && signupForm.invalid) {
            <p-message severity="error" variant="simple" size="small" class="w-full max-w-[500px]">{{
                getErrorText(signupForm.controls.firstName) }}</p-message>
            }
        </div>

        <div class="flex flex-col items-center md:items-end w-full">
            <fieldset class="w-full max-w-[500px]">
                <p-floatlabel variant="on">
                    <input pInputText formControlName="lastName" id="lastName" autocomplete="off" class="w-full" />
                    <label for="lastName">Last name</label>
                </p-floatlabel>
            </fieldset>
            @if (hasBeenSubmitted() && signupForm.invalid) {
            <p-message severity="error" variant="simple" size="small" class="w-full max-w-[500px]">{{
                getErrorText(signupForm.controls.lastName) }}</p-message>
            }
        </div>

        <div class="flex flex-col items-center md:items-end w-full">
            <fieldset class="w-full max-w-[500px]">
                <p-floatlabel variant="on">
                    <input pInputText formControlName="email" id="email" autocomplete="off" class="w-full" />
                    <label for="email">Email</label>
                </p-floatlabel>
            </fieldset>
            @if (hasBeenSubmitted() && signupForm.invalid) {
            <p-message severity="error" variant="simple" size="small" class="w-full max-w-[500px]">{{
                getErrorText(signupForm.controls.email) }}</p-message>
            }
        </div>

        <div class="flex flex-col md:flex-row gap-4 md:gap-5 w-full max-w-[500px] items-start">
            <div class="flex flex-col items-center md:items-end w-full">
                <app-password-input formControlName="password" hasFeedback class="w-full"></app-password-input>
                @if (hasBeenSubmitted() && signupForm.invalid) {
                <p-message severity="error" variant="simple" size="small" class="w-full">{{
                    getErrorText(signupForm.controls.password) }}</p-message>
                }
            </div>

            <div class="flex flex-col items-center md:items-end w-full">
                <app-password-input formControlName="confirmPassword" label="Confirm password"
                    class="w-full"></app-password-input>
                @if (hasBeenSubmitted() && signupForm.invalid) {
                <p-message severity="error" variant="simple" size="small" class="w-full">{{ getErrorText(signupForm)
                    }}</p-message>
                }
            </div>
        </div>

        <p-button type="submit" [loading]="isLoading()" class="mt-2">Submit</p-button>
        @if (errorMessage()) {
        <p-message severity="error" class="w-full max-w-[500px]">{{ errorMessage() }}</p-message>
        }
        @if (successMessage()) {
        <p-message severity="success" class="w-full max-w-[500px]">{{ successMessage() }}</p-message>
        }
    </form>
</p-card>